*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --clr-primary:  hsl(211, 10%, 45%);
    --clr-moderate-blue: hsl(238, 40%, 52%);
    --clr-soft-red: hsl(358, 79%, 66%);
    --clr-light-grayish-blue: hsl(239, 57%, 85%);
    --clr-pale-red: hsl(357, 100%, 86%);
    --clr-dark-blue: hsl(212, 24%, 26%);
    --clr-light-gray: hsl(223, 19%, 93%);
    --clr-Very-light-gray: hsl(228, 33%, 97%);
    --clr-White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--clr-light-gray);
}

p {
    padding: 4px;
    align-self: center;
    line-height: 1.3;
}

.comment-section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.comment {
    width: 100%;
    background-color: var(--clr-White);
    margin-top: 2em;
    border-radius: 4px;
    padding: 1em;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 1.1em;
}

.you {
    padding: 1px 7px;
    font-size: .875rem;
    background-color:var(--clr-moderate-blue);
    color: var(--clr-White);
}

.user-image {
    width: 44px;
    height: 41px;
}

.user-name {
    font-weight: 700;
}

.content {
    color: var(--clr-primary);
    line-height: 1.3;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    padding: 1em;
}

.reply-button {
    display: flex;
    cursor: pointer;
    flex-direction: row-reverse;
    align-items: center;
    gap: 3px;
    padding: 1em;
}

.btn:hover {
    background-color: var(--clr-light-grayish-blue);
}

.reply-button:hover {
    color: var(--clr-light-grayish-blue);
}

.reply-arrow {
    width: auto;
    height: max-content;
}

.replied-comment {
    width: 85vw;
    align-self: flex-end;
}

.reply-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: 3px solid var(--clr-primary);
}

.reply-container:nth-of-type(1) {
    color: black;
}

.replyingDialog {
    width: 200px;
    height: 200px;
    background-color: black;
}

.reply-to-tag {
    color: var(--clr-moderate-blue);
}

textarea {
    outline: 1px solid blue;
    resize: none;
}


.text-field-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-field {
    width: 90%;
    height: 20vw;
    border-radius: .5em;
}

.text-field:focus {
    border-color: 1px solid var(--clr-dark-blue);
}

.image-and-text-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.button-container {
    display: flex;
    align-self: flex-end;
    gap: 2em;
    padding: 1em;
}

.btn {
    border: 0;
    padding: .5em 1.2em;
    background-color: var(--clr-moderate-blue);
    color: var(--clr-White);
    border-radius: .2em;
}

.edit-button, 
.delete-button {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.edit-svg {
    width: 14px;
    height: 14px;
}

.edit-and-delete-container {
    display: flex;
    gap: 2em
}

.invisible {
    display: none;
}